*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'popins',sans-serif;
    
}
body{
    background:rgb(112, 204, 230);
}
.heading {
    color:brown;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
form
{
    width: 600px;
    margin: 20vh auto;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 30px;



}
div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input{
    border-radius: 5px;
    color:#792099;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border:  1px solid rgb(34,193,195);
}

.input:focus{
    outline: none;
}
button{
    background-color: #792099;
    color: #fff;
    border:  1px solid #792099;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 20px 0px;
    font-size: 20px;

}
button:focus{
    outline: none;
}
span{
    color:red;
    margin-bottom: 15px;
}
label{
    color:blue;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}